{% extends "base.html" %}

{% block title %}Профиль шахтёра{% endblock %}

{% block content %}

<div class="profile-card">
    <div class="profile-header">
        <div class="avatar-placeholder">{{ user[1][0] | upper }}</div>
        <h2>Профиль</h2>
    </div>

    <div class="info-group">
        <div class="info-label">ID</div>
        <div class="info-value">#{{ user[0] }}</div>
    </div>

    <div class="info-group">
        <div class="info-label">Имя / Логин</div>
        <div class="info-value">{{ user[1] }}</div>
    </div>

    <div class="info-group">
        <div class="info-label">Права</div>
        <div class="info-value">{{ user[2] }}</div>
    </div>

    <a href="{{ url_for('safety') }}" class="back-button">НА ГЛАВНУЮ</a>
</div>
{% endblock %}