{% extends 'base.html' %}
{% block content %}
<div class="header">
    <h1 style="color: #ff4757;">Внимание!</h1>
    <p>Для доступа к управлению персоналом введите свой пароль повторно</p>
</div>

<div class="card" style="border-top: 4px solid #ff4757;">
    <form method="POST">
        <div class="form-group">
            <input type="password" name="admin_pass" placeholder="Ваш пароль" required autofocus>
        </div>
        {% if error %}<p style="color: #ff4757; text-align: center;">{{ error }}</p>{% endif %}
        <button type="submit" class="btn-main" style="background: #ff4757; color: white;">ПОДТВЕРДИТЬ ЛИЧНОСТЬ</button>
    </form>
    <a href="{{ url_for('safety') }}" style="display: block; text-align: center; margin-top: 15px; color: #adb5bd; text-decoration: none;">Отмена</a>
</div>
{% endblock %}